.box {
  background-color: rgba(128, 128, 128, 0.472);
  height: 60vh;
  width: 70vw;
}
.mini-box {
  height: 40px;
  width: 42px;
  border: 4px solid blue;
  border-radius: 40px;
  background-color: red;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.63), 2px 2px 5px rgba(0, 0, 0, 0.63),
    2px 2px 2px rgba(0, 0, 0, 0.63);
}
